streamlit
opencv-python-headless
numpy
pandas
torch
folium
streamlit-folium
matplotlib
plotly
Pillow
ultralytics
librosa
joblib
soundfile
scikit-learn
scipy
requests
ffmpeg-python
pyarrow
base64
python-dateutil
